<!DOCTYPE HTML>
<html>
	<head>
		<!-- jQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- Tether -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

		<!-- Moment -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

		<!-- Bootstrap min -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
		
		<!-- Include Bootstrap Datepicker -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
	</head>
	<body style="text-align: center;">
		<h1>ForePast</h1>
		<h4>Get forecasts from the past!</h4>
		<h5>Built by Nate DeHorn</h5>
		<form id="eventForm" method="post" class="form-horizontal">
			<div id="container" class="container">
				<h4>Enter a city &amp; state or a zipcode along with a date</h4>
				<div class="input-group">
					<span class="input-group-addon">State</span>
					<input type="text" class="form-control" name="state" placeholder="CA">
					<span class="input-group-addon">City</span>
					<input type="text" class="form-control" name="city" placeholder="San Francisco">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Zip Code</span>
					<input type="text" class="form-control" name="zipcode" placeholder="94107">
				</div><br>
				<div class="input-group">
					<span class="input-group-addon">Date</span>
					<input type='text' class="form-control" name="date" id='datetimepicker' placeholder="1901/01/01">
					<script type="text/javascript">
						$(function(){$('#datetimepicker').datetimepicker({
							viewMode:"years",
							format: "YYYY/MM/DD"
						})});
					</script>
				</div><br>
				<button type="submit" class="btn btn-info">Get date</button>
			</div>
		</form>
		<div>{{ data }}</div>
	</body>
<html>
